From: wrte <delivery@wrte.io> 
Subject: RE: <%= subject %> 
In-Reply-To : <%= msgId %>
References : <%= msgId %>
x-test-mail : delivered
x-test-invoice : <%= invoiceId %>


Your message has been delivered to <%= email %> 

--
wrte.io team
Charge For Each Email You Get
