From: wrte <delivery@wrte.io> 
Subject: RE: <%= subject %> 
In-Reply-To : <%= msgId %>
References : <%= msgId %>
x-test-mail : fail_refund
x-test-invoice : <%= invoiceId %>

The message delivery to <%= email %> has failed.
Refund is in process...

--
wrte.io team
Charge For Each Email You Get
