From: wrte <delivery@wrte.io> 
Subject: RE: <%= subject %> 
In-Reply-To : <%= msgId %>
References : <%= msgId %>
x-test-mail : fail
x-test-invoice : <%= invoiceId %>

The message has not been delivered to <%= email %> 
<%= failReason %>

--
wrte.io team
Email Paywall
